---
# Describes the format for available services for audiconnect

refresh_vehicle_data:
  fields:
    vin:
      required: true
      example: WBANXXXXXX1234567
      selector:
        text:

execute_vehicle_action:
  fields:
    vin:
      required: true
      example: WBANXXXXXX1234567
      selector:
        text:
    action:
      required: true
      example: "lock"
      selector:
        select:
          translation_key: vehicle_actions
          options:
            - lock
            - unlock
            - start_climatisation
            - stop_climatisation
            - start_charger
            - start_timed_charger
            - stop_charger
            - start_preheater
            - stop_preheater
            - start_window_heating
            - stop_window_heating

start_climate_control:
  fields:
    vin:
      required: true
      example: WBANXXXXXX1234567
      selector:
        text:
    temp_f:
      selector:
        number:
          min: 59
          max: 85
    temp_c:
      selector:
        number:
          min: 15
          max: 30
    glass_heating:
      selector:
        boolean:
    seat_fl:
      selector:
        boolean:
    seat_fr:
      selector:
        boolean:
    seat_rl:
      selector:
        boolean:
    seat_rr:
      selector:
        boolean:
    climatisation_at_unlock:
      selector:
        boolean:
    climatisation_mode:
      example: "comfort"
      selector:
        select:
          options:
            - comfort
            - economy

start_auxiliary_heating:
  fields:
    vin:
      required: true
      example: WBANXXXXXX1234567
      selector:
        text:
    duration:
      selector:
        number:
          min: 10
          max: 60
          step: 10
          unit_of_measurement: "minutes"

set_target_soc:
  fields:
    vin:
      required: true
      example: WBANXXXXXX1234567
      selector:
        text:
    target_soc:
      required: true
      example: 80
      selector:
        number:
          min: 20
          max: 100
          step: 5
          unit_of_measurement: "%"
