# Describes the format for available services for audiconnect

refresh_vehicle_data:
  fields:
    vin:
      required: true
      example: WBANXXXXXX1234567
      selector:
        text:

execute_vehicle_action:
  fields:
    vin:
      required: true
      example: "WAUZZZ4G7EN123456"
      selector:
        text:
    action:
      required: true
      example: "lock"
      selector:
        select:
          translation_key: vehicle_actions
          options:
            - lock
            - unlock
            - start_climatisation
            - stop_climatisation
            - start_charger
            - start_timed_charger
            - stop_charger
            - start_preheater
            - stop_preheater
            - start_window_heating
            - stop_window_heating
